.header-container {
  background-color: #ff8800;
  padding: 10px;
}
.header-container img {
  width: 90px;
}
.header-container h1 {
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  margin: 10px 0;
}
