.country-block {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 30px #cecece;
}
.brand {
  color: #ff8800;
  font-weight: 700;
}
.country-block img {
  max-height: 140px;
}
.country-block h2 {
  color: #ff8800;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 15px 0;
}
.country-block p {
  font-weight: 400;
  margin: 10px 0;
}
@media only screen and (max-width: 1050px) {
  .country-block img {
    max-height: 120px;
  }
}
@media only screen and (max-width: 468px) {
  .country-block img {
    max-height: 100px;
  }
}
